.head{
color:black;
font-size:50px;
text-align:center;
;
}
.bd{
height:300px;
width:250px;
fon-size:25px;
color:blue;
background-color:yellow;
}
body{
background-color:white;
}
.hr1{
height:5px;
background-color:block;
}
.qr{
padding-top:60px;
padding-right:400px;

float:right;
}
.chose{
padding-top:60px;
padding-right:400px;
font-size:25px;
float:right;
}

.brk{
align:center;
}