
<!DOCTYPE html>
    {% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log analyzer</title>
    <link rel="stylesheet" href="{% static 'css/raj.css' %}">

</head>
<body>
<h1 class="head">LOG ANALYZER</h1><hr class="hr1"></br>
<div class="chose">
<form method="post" enctype="multipart/form-data">
    {%  csrf_token %}
    {{ form.as_p }}
    <button type="submit">analayze</button>
</form>
</div>

<table class="bd" border="1px">
    <tr>
        <td align="center"><a href="/form/" >NEW</a> </td>
    </tr><br>
     <tr>
        <td align="center"><a href="/monitor/">MONITOR</a> </td>
    </tr><br>
     <tr>
         <td align="center"><a href="/report/">REPORTS</a></td>
    </tr>
</table>


</body>
</html>