<!DOCTYPE html>
    {% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log analyzer</title>
    <link rel="stylesheet" href="{% static 'css/raj.css' %}">

</head>
<body>
<h1 class="head">LOG ANALYZER</h1><hr>
<ul><h2 class="qr">
    <li> Please Press New button to Upload log file<br><br></li>
     <li>Please Press Monitor button for Monitaring logfiles<br><br></li>
    <li>Please Press Report button for Report Genarations</li>
</h2></ul>
<table class="bd" border="1px">
    <tr>
        <td align="center"><a href="/form/" >NEW</a> </td>
    </tr><br>
     <tr>
        <td align="center"><a href="/monitor/">MONITOR</a> </td>
    </tr><br>
     <tr>
         <td align="center"><a href="">REPORTS</a></td>
    </tr>
</table>


</body>
</html>