<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Page</title>
    <link rel="stylesheet" href="{% static 'css/monitor.css' %}">
</head>
<script src="{% static 'js/alertify.min.js' %}"></script>
<!-- include the style -->
<link rel="stylesheet" href="{% static 'css/alertify.min.css' %}" />
<!-- include a theme -->
<link rel="stylesheet" href="{% static 'css/default.min.css' %}" />
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript">

function groupby_Ipadress(){
    $.ajax({
        type: 'GET',
        dataType: "json",
        data: { csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        url: "groupby_Ipadress",
        success: function(data)

        {
            alert('ok');
        }
    });
}


</script>
<body>
<h1 align="center" style="color:#99ffdd";>LOGANALYZER</h1></br><hr/></br>
    <div class="moni">
        <b><a href="/home/">To Home Page</a> </b>
    </div>
    <div class="moni1">
        <b><a href="/monitor/">To Monitor Page</a></b>
     </div><br><br></br>
        <div id="monitoring-field">
            <table align="center" cellspacing="5">
                <tr>
                    <td><b>Monitoring log File : </b></td>
                    <td><b id="montiring_file_path_id">{{path}}</b> </td>
                </tr>
            </table>
        </div>
    <div class="container" align="center">
  <h2>Chart Styles</h2>
  <button type="button" class="btn btn-primary" onclick="groupby_Ipadress()">Pie chart</button>
  <button type="button" class="btn btn-success">Bar chart</button>
  <button type="button" class="btn btn-info">Line chart</button>
  <button type="button" class="btn btn-danger">Range chart</button>
    </div>


</body>
</html>